h1 ​{ 
font-family: normal​; 
} 

h2 ​{ 
font-family: normal​; 
} 

h3 ​{ 
font-family: normal​; 
} 

p ​{ 
font-family: normal​; 
} 

h1 ​{ 
font-size: normal​; 
} 

h2 ​{ 
font-size: normal​; 
} 

h3 ​{ 
font-size: normal​; 
} 

p ​{ 
font-size: normal​; 
} 